@import "tailwindcss";

.bg-grid-pattern {
    background-image: linear-gradient(to right, #F47458 1px, transparent 1px),
        linear-gradient(to bottom, #F47458 1px, transparent 1px);
    background-size: 60px 60px;
    opacity: 0.1;
}